{% extends "events/base.html" %} {% load static %} {% block body %}

{% block content %}
<style>
    .dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  margin: 0;
}

    </style>

<div class="dashboard">
    <div class="card" onclick="location.href='/admin/auth/user/'">
        <h3>Total Users</h3>
        <p>{{ total_users }}</p>
    </div>
    <div class="card" onclick="location.href='/admin/events/subscription/'">
        <h3>Total Subscriptions</h3>
        <p>{{ total_subscriptions }}</p>
    </div>
    <div class="card" onclick="location.href='/admin/events/event/'">
        <h3>Total Events</h3>
        <p>{{ total_events }}</p>
    </div>
    <div class="card">
        <h3>Upcoming Events</h3>
        <p>{{ upcoming_events }}</p>
    </div>
    <div class="card">
        <h3>Total Profiles</h3>
        <p>{{ total_profiles }}</p>
    </div>
    <div class="card" onclick="location.href='/admin/events/category/'">
        <h3>Category</h3>
        <p>{{ total_category }}</p>
    </div>
    <div class="card" onclick="location.href='/admin/events/location/'">
        <h3>Locations</h3>
        <p>{{ total_location }}</p>
    </div>
    <div class="card" onclick="location.href='/admin/events/sub_category/'">
        <h3>sub categories</h3>
        <p>{{ total_subcategory }}</p>
    </div>
</div>
{% endblock %}
{% endblock %}